# Exclude the bot config
src/config/config.json
src/.DS_Store

# Log files
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Dependency directory
node_modules

# Ignore build files
lib
public
.idea

# Flow-typed
flow-typed/npm

# OSX artifact
.DS_STORE
